<!DOCTYPE html>
<html>
<head>
    <title>SkySimulator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SkySimulator</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>Options</h2>
        </div>
        <div class="col-md-9">
            <h2>Result</h2>
        </div>
    </div>
    <footer>
        <p><button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button></p>
    </footer>
</div>
</body>
</html>